# .npmrc

# Font Awesome Pro token configuration
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4C98296E-AD2E-4E72-8AA6-332B97030397

# Save exact versions of dependencies
save-exact=true

# Set the default registry
registry=https://registry.npmjs.org/

# Optional: Set the cache directory
# cache=${HOME}/.npm-cache

# Optional: Set the log level
# loglevel=info

# Optional: Set the prefix for global installations
# prefix=${HOME}/.npm-global

# Optional: Set the default scope
# scope=@your-scope

# Optional: Set the strict-ssl setting
# strict-ssl=true


